In [2]:
import pandas as pd

NAME_FILE = "ADABKRW-1h-2020-08.csv"
kline1 = pd.read_csv(NAME_FILE, sep=",", header=None)


header_name = [
    "Open time",
    "Open",
    "High",
    "Low",
    "Close",
    "Volume",
    "Close time",
    "Quote asset volume",
    "Number of trades",
    "Taker buy base asset volume",
    "Taker buy quote asset volume",
    "Ignore",
]
kline1.columns = header_name
kline1.head()

"""Conversion du time de binance"""
#import pandas as pd
#pd.to_datetime(1518440400000, unit='ms')

,Open time,Open,High,Low,Close,Volume,Close time,Quote asset volume,Number of trades,Taker buy base asset volume,Taker buy quote asset volume,Ignore
0,1596240000000,164.40,165.22,163.04,163.04,8221.3,1596243599999,1349758.864,17,4116.1,679032.804,0
1,1596243600000,163.55,165.26,163.55,165.26,691.4,1596247199999,114199.905,6,645.1,106609.226,0
2,1596247200000,165.00,167.24,165.00,167.24,9655.6,1596250799999,1603644.091,27,6624.6,1103529.091,0
3,1596250800000,168.36,168.36,165.58,166.00,6734.2,1596254399999,1125364.698,30,4035.9,676321.340,0
4,1596254400000,166.97,167.78,166.01,167.78,20325.8,1596257999999,3399479.521,32,17185.6,2875838.077,0